<footer>
    <div class="foot-container">
        <ul>
            <li><a class="facebook" target="_blank" href="https://www.facebook.com/El-Arte-es-Basura-109679800757657"><span class="icon-facebook"></span></a></li>
            <li><a class="instagram" target="_blank" href="https://www.instagram.com/elartebasura/"><span class="icon-instagram"></span></a></li>
            <li><a class="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone=529511860784"><span class="icon-whatsapp"></span></a></li>
            <br>
            <li><a class="buymeacoffee" target="_blank" href="https://www.buymeacoffee.com/elartebasura"><span> <em>Buymeacoffee.com</em></span></a></li>

        </ul>
    </div>
    <div class="foot-container">
        <ul>
            <li id="copyright">
                <p>©elartebasura 2020 <br>EDWINDES@elartebasura.com</p> 
            </li>
        </ul>
    </div>
</footer>
<!-- listo -->