<header>
    <nav class="animated fadeIn  navbar navbar-expand-lg navbar-dark navar-titular">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="animated fadeIn container-fluid">
            <div class="animated fadeIn fast collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="animated fadeIn fast nav-item">
                        <a class="nav-link" [routerLink]="['inicio']"><span class="icon-home"></span> Inicio</a>
                    </li>
                    <li class="animated fadeIn fast nav-item">
                        <a class="nav-link" [routerLink]="['galeria']"><span class="icon-camera"></span> Galería</a>
                    </li>
                    <li class="animated fadeIn fast nav-item">
                        <a class="nav-link" href="https://store19925273.ecwid.com"><span class="icon-home"></span> Tienda</a>
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="icon-bin"></span>Tienda
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" [routerLink]="['tienda']">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['contacto']"><span class="icon-address-book"></span>Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<!-- listo  --> 