<body>
    <div class="animated fadeIn fast" id="Titulo">
        <h1>EL ARTE ES BASURA</h1>
        <h4>CUADROS Y PINTURAS SACADAS DE DONDE OTROS NO VEÍAN NADA </h4>
    </div>
    <!--  <div class="cta animated fadeIn fast">
        <p>VISITA NUESTRO BASURERO</p>
        <button class="btn btn-dark" [routerLink]="['galeria']">Galeria</button> 
    </div>-->

    <app-slider class="animated fadeIn fast"></app-slider>
    <app-footer class="animated fadeIn fast"></app-footer>
</body>

<!-- este esta bien  falta el css-->